.nav ul li {
    display: inline-block;
    padding: 1em;
}

.header {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 100%;
    padding: 1em;
    top: 0;
    left: 0;
    border-radius: 2%;
    background-color: red;
}

.header ul li {
    display: inline-block;
    float: right;
    margin-right: 2em;
    top:0;
}

.nav {
    position: relative;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 50px;
    height: 300px;
    background-color: aqua;
}

.nav, .main div {
    border-radius: 4%;
}

#main-image {
    min-height: 500px;
    margin-top: 100px;
    background: rgba(240,240,240,1);
    width: 100%;
    top: 1em;
    position: fixed;
    overflow: hidden;
}

#main-image h1 {
    border: 0.1em solid white;
    width: 450px;
    text-align: center;
}

/** I can't get this to center and
dont know which of these im supposed
to use or if I need this id at all.

#tagline {
    position: relative;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;   
} **/

.main {
    background-color: none;
    position: relative;
    padding: 2em;
    margin: 11em 7em 7em 9em;
    border-radius: 2%;
    max-width: 30em;
    min-width: 20em;
    overflow: scroll;
}

.main div {
    background-color: yellow;
    padding: 4em;
    margin-bottom: 20em;
    height: 15em;
    min-height: 12em;
    overflow: scroll;
}

/** I feel like I'm getting close here
I probably just need to pad it
but I dunno
#aboutBlock {
    margin-top: 200em;
    position: absolute;
}
**/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.blackBox {
    position: fixed;
    margin-top: 10em;
    margin-bottom: auto;
    margin-left: 12em;
    background-color: #292929;
    outline: 0.1em solid white;
    padding: 1em;
    min-width: 20em;
    min-height: 20em;
    max-height: 50em;
    max-width: 30em;
    color: #cecece;
}

